<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{{site.baseurl}}assets/css/main.css">
    <title>Huda</title>
</head>
<body>

        {% include header.html %}
    
<img src="{{site.baseurl}}assets/img/hud.jpg" width="300">
    
    <ul class="icons"> 
        <li><i class="fab fa-instagram"></i></li>
        <li> <i class="fab fa-facebook"></i></li>
        <li><i class="fab fa-github"></i> </li>
    </ul>
    
<p class="grey-copy"> Hi it's me, Huda! I'm a 21 year old college student who works as cashier at Wal-Mart. Wow. I was orginally at the University of Windsor for Psychology and Visual Arts and dreaded the psychology portion. Decided going into the fine arts program wasn't going to cut it career wise and explored my options. Graphic design! Roll the credits. </p>

     <p class="grey-copy"> I loved drawing since I was little and always wanted to have a future with art involved. Sometimes when I'm feeling bland and in need of some creativity, I think back to childhood me and wonder what she'd do. Anime was definitely a huge influence on me and art. Still is. It wasn't a phase, take that mom.</p>   

    {{  content  }}

    {% include footer.html %}

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
